<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>101388202 Lab Test Chat App</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>101388202 Lab Test Chat App</h1>
    <script>
        const clientSocket = io();
        clientSocket.on('connect', () => {
            console.log('connected');
        });
        clientSocket.on('message', (data) => {
            console.log(data);
            clientSocket.send('Hello TO Server!');
        });
        clientSocket.on('new_chat_message', (data) => {
            console.log(data);
        });

        clientSocket.on('new_group_message', (data) => {
            console.log(data);
            const message_list = document.getElementById('message_list');
            const message = document.createElement('p');
            message.innerHTML = `<b>${data.group_name}:${data.senderId}:<b/> ${data.message}`;
            message_list.appendChild(message);
        });
        clientSocket.on('disconnect', () => {
            console.log('disconnected');
        });

        function sendMessage() {
            const message = document.getElementById('message').value;
            const msg = {
                message: message,
                sender: 'client',
                senderId: clientSocket.id
            }
            clientSocket.emit('chat', msg);
        }

        function joinGroup() {
            const group_name = document.getElementById('group_name').value;
            //const user = document.getElementById('user').value;
            clientSocket.emit('join_group', group_name);
        }

        function sendGroupMessage() {
            const group_name = document.getElementById('group_name').value;
            const group_message = document.getElementById('group_message').value;
            const msg = {
                message: group_message,
                sender: 'client',
                senderId: clientSocket.id,
                group_name: group_name
            }
            clientSocket.emit('group_chat', msg);
        }
    </script>
    <h2>Group Chat</h2>
    <h4 id="user"></h4>
    Select Room to Join: <select id="group_name">
        <option value="devopsRoom">DevOps</option>
        <option value="cloudComputingRoom">Cloud Computing</option>
        <option value="covid19Room">Covid19</option>
        <option value="sportsRoom">Sports</option>
        <option value="nodeJSRoom">nodeJS</option>
    </select><button onclick="joinGroup()">Join Group</button>
    <br>
    <input type="text" id="group_message" placeholder="Enter Message">
    <button onclick="sendGroupMessage()">Send Message</button>
</body>
</html>